.container-button {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container-button button {
  background: transparent;
  border: none;
  background: linear-gradient(
    -45deg,
    var(--primary-color),
    var(--secondary-color)
  );
  border-radius: 100px;
  height: 50px;
  width: 100%;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  opacity: 0.9;
}

.container-button button:hover {
  opacity: 1;
  transition: 0.45s;
}
