* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: "Inter", sans-serif;
  background: linear-gradient(
    45deg,
    var(--primary-color),
    var(--secondary-color)
  );
}

:root {
  --primary-color: #0f4f40;
  --secondary-color: #528342;
  --white: #fff;
}
